.bg-custom {
    background-color: #022d43;
  }


.btn-custom{
  background: linear-gradient(165deg, #F8B303 40%, #F58300 100%);
  color: #012F46;
}


.navbar-collapse{
  flex-grow: unset;
}

#tb-lista{
  width: 100% !important;
}

#tb-lista_filter  {
  display: flex !important;
  width: 100% !important;
}

#overlay, #overlay_loading{
  display: none;
  position: fixed;
  background: #000000c2;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 10;
  top: 0;
  left: 0;
}

#overlay_loading{
  background: #ffffffc2;
}

/* #overlay_loading *{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */


body.loading input[type=submit]{
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}